.main{
    background-image: url(/assets/img/bg1.jpg);
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.comand{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.shop-now{
    font-size: 24px;
    padding: 8px 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    size: medium;
    
}
.main-section{
    background-color: skyblue;
    height: 200px;
}
.about-section h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
}

.box {
    background-color: #4CAF50; 
    color: white; 
    padding: 20px;
    text-align: center;
    height: 420px; 
}

.card-title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-text{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.explore h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
}

.explore h2 p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.review{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}









.masonry-container {
    column-count: 3; 
    column-gap: 15px; 
}

.masonry-item {
    break-inside: avoid; 
    margin-bottom: 15px; 
}

.masonry-item img {
    width: 100%; 
    border-radius: 1px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}



footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #f39c12; /* Change color on hover */
}

